/* =========================
   GENERAL STYLES
========================= */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #0b3d91,
        #1769d1
    );

    color: #222;

    display: flex;
    justify-content: center;
    align-items: left;

    padding: 20px;
}